{% extends 'base.html' %}

{% block title %}Index{% endblock title %}home

{% block body %}
<div class="container my-3">
<div class="jumbotron">
<h1 class="display-4">Welcome to Immunescora!</h1>
  <p class="lead">We're committed to being your source for tracking your immunity status.</p>
  <hr class="my-4">
  <p>At Immunescora, we pride ourselves on the quality, research and transparency we put into every article.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
  </p>
</div>
</div>
<div class="py-3 text-center">
      <h2>Checkout our  popular blog posts</h2>
      <p class="lead">We're sure you'll love it</p>
</div>

<div class="container mb-2">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">For many people, their approach to physical activity and exercise shifted during the pandemic.

From embracing home workouts to navigating how to return to exercise after recovering from COVID-19, the pandemic has reoriented our relationships to physical activity.

Running has been a big part of this. The period of gym closures and shelter-in-place guidelines led people to embrace running as a new part of their routine — many for the first time.

In fact, a recent survey from athletic shoe review company RunRepeat suggests we’re experiencing something of a pandemic-era “running boom.”</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" href="https://images.unsplash.com/photo-1486829060564-50dae90dccd4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cnVubmluZyUyMHBlb3BsZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></svg>

        </div>
      </div>
</div>
  
{% endblock body %}