{% extends 'base.html' %}
{% block title %}Model{% endblock title %}
{% block body %}
<div class = "container my-3" style="padding-top:50px; padding-left:40px;">
    <div class = "row">
    <div class ="col-sm-4">
    <div class="card" style="width: 18rem;">
  <img src="https://media.gettyimages.com/videos/take-care-of-your-heart-video-id1141734258?s=640x640" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Artery Disease Score</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="models/heartf1" class="btn btn-primary">Check Here</a>
  </div>
</div>
    </div>
    <div class ="col-sm-4">
    <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPSxpaixRtlRQWl4PKsl-nYe1-s9Osg3oG1A&usqp=CAU" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Obesity Score</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Check Here</a>
  </div>
</div>
    </div>
    <div class ="col-sm-4">
    <div class="card" style="width: 18rem;">
  <img src="https://thumbs.dreamstime.com/b/doctor-measuring-obese-man-waist-body-fat-obesity-weight-loss-to-loose-114064583.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Diabetes Score</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="models/diabetesf" class="btn btn-primary">Check Here</a>
  </div>
</div>
    </div>
       </div>
   </div>
{% endblock body %}
